<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css"/>
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
	<script src="/js/prototype.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/geolocation.js" type="text/javascript" charset="utf-8"></script>
	<title>The Next Bus - {{ title }}</title>
</head>
<body>
<h1><a href="http://thenextbus.appspot.com">The Next Bus</a></h1>

{% block content %}

<button class="nearest" id="nearme_button">Near Me</button>

<form action="/redirect/" method="post">
	<fieldset>
{{ stop_form.as_p }}
<input type="submit" value="Submit"/>
</fieldset>
</form>

<p>This quick app is designed to display nicely on as many mobile devices as possible, 
	mainly because the default HTML from <a href="http://tsy.acislive.com/">TravelSouthYorkshire</a>, 
	or any of the YourNextBus services is so shocking, try The Next Bus on services in West Yorkshire, South Yorkshire,
	Belfast, Cardiff, Gloucestershire, Oxfordshire, Surrey and Kent</p>

<p>You can find the stop number either on the bus stop, or searching TSY's website. Once you find the stop 
	number bookmark the URL (http://thenextbus.appspot.com/stop/&lt;stop number&gt;) on your phone for easy access next time</p>

{% endblock content %}
<p class="info"><a href="mailto:thenextbus@smgsystems.co.uk">thenextbus@smgsystems.co.uk</a></p>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-364831-9");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>