<h1>The Next Bus</h1>

<p>This quick app is designed to display nicely on as many mobile devices as possible, 
	mainly because the default HTML from <a href="http://tsy.acislive.com/">TravelSouthYorkshire</a> is so shocking</p>

<p>You can find the stop number either on the bus stop, or searching TSY's website. Once you find the stop 
	number bookmark the URL (http://thenextbus.appspot.com/stop/&lt;stop number&gt;) on your phone for easy access next time</p>

<form action="/redirect/" method="post">
{{ stop_form.as_p }}
<input type="submit" value="Submit">
</form>