{% extends "index.html" %}

{% block content %}
<h2>The Next Bus - Near Me</h2>

<p>If you phone has built in GPS and your browser supports the new location API you can now select the bus stop according to which one is nearest to you!</p>

<p>Press the Near Me button and TheNextBus will try and locate all bus stops within 500 meters of your current location.</p>

<p>If one of the stops doesn't have the reference number available, you won't be able to select it. Why not visit <a href="http://openstreetmap.org">OpenStreepMap.org</a> and add the data yourself?</p>

{% endblock content %}